<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets\img\logodasa.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            Gestão Única &nbsp; 
            <i class="material-icons">
                build
            </i>
            Gerenciador
        </a>
    </span>
    <div class="user">
        <span>
            Olá, {{usuario}}
        </span>
    </div>
    <div class="sairClick">
        <span>
            <a href="" role="button" (click)="Logout()" color="primary">
                <strong>Sair</strong>
            </a>
        </span>
    </div>
</mat-toolbar>