<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Início
            </a>
            <!--<a mat-list-item routerLink="/">
                <i class="material-icons">dashboard</i>Dashboard
            </a>-->
            <a mat-list-item routerLink="/usuarios">
                <i class="material-icons">supervisor_account</i>Usuários
            </a>
            <a mat-list-item routerLink="/regras">
                <i class="material-icons">verified_user</i>Regras de Acesso
            </a>
            <a mat-list-item routerLink="/activedirectory">
                <i class="material-icons">business_center</i>Active Directory
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
